[submodule "gridgraph/x-stream"]
	path = gridgraph/x-stream
	url = https://github.com/epfl-labos/x-stream
[submodule "gridgraph/GridGraph"]
	path = gridgraph/GridGraph
	url = https://github.com/coolerzxw/GridGraph
